---
title: Documentation of Cosma
description: >
    Cosma manual in French for users and developers.
---

<!doctype html>
{% include "head.njk" %}

<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <main>
        <ul>
            <li><a href="./user-manual/">User manual</a></li>
            <li><a href="./developer-manual/">Developer manual</a></li>
        </ul>
    </main>

    {% include "footer.njk" %}
</body>

</html>