<html lang="{{ flag }}">
<head>
	<meta charset=utf-8>
	<title>{{ title }}</title>

	<meta name="description" content="{{ description }}">
	<meta name="author" content={{ pck.contributors }}">
	<meta name="last_edit" content="{{ page.date.toUTCString() }}">

	<style>
        {% include "styles.css" %}
    </style>
</head>