<!doctype html>
{% include "head.njk" %}

<body>
    <main>
        <ul>
            <li>
                FR
                <ul>
                    <li><a href="./fr/manuel-utilisation">Manuel d'utilisation</a></li>
                    <li><a href="./fr/">Manuel de développement</a></li>
                </ul>
            </li>
            <li>
                EN
                <ul>
                    <li><a href="./en/user-manual">User manual</a></li>
                    <li><a href="./">Developer manual</a></li>
                </ul>
            </li>
        </ul>
    </main>

    {% include "footer.njk" %}
</body>

</html>