---
title: Cosma Documentation
description: >
    Cosma manual in French for users and developers.
---

<!doctype html>
{% include "head.njk" %}

<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <main>
        <ul>
            <li>
                FR
                <ul>
                    <li><a href="/fr/manuel-utilisation/">Manuel d'utilisation</a></li>
                    <li><a href="/fr/manuel-developpement/">Manuel de développement</a></li>
                </ul>
            </li>
            <li>
                EN
                <ul>
                    <li><a href="/en/user-manual/">User manual</a></li>
                    <li><a href="/en/developer-manual/">Developer manual</a></li>
                </ul>
            </li>
        </ul>
    </main>

    {% include "footer.njk" %}
</body>

</html>