---
title: Cosma Documentation
description: >
    Cosma manual for users and developers.
flag: en
---
<!doctype html>
{% include "head.njk" %}

<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <main>
        <ul>
            <li>
                FR 🇫🇷
                <ul>
                    <li><a href="./fr/cosma-manuel-d'utilisation.html">Manuel d'utilisation</a></li>
                    <li><a href="./fr/cosma-manuel-de-developpement.html">Manuel de développement</a></li>
                </ul>
            </li>
            <li>
                EN 🇬🇧
                <ul>
                    <li><a href="./en/cosma-user-manual.html">User manual</a></li>
                    <li><a href="./en/cosma-developer-manual.html">Developer manual</a></li>
                </ul>
            </li>
        </ul>
    </main>

    {% include "footer.njk" %}
</body>

</html>