<!doctype html>
{% include "head.njk" %}

<body>
    {% include "header-doc.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "aside.njk" %}

    {% include "footer.njk" %}
</body>

</html>