---
title: Documentation de Cosma
description: >
    Manuel de Cosma en français pour les utilisateurs et les développeurs.
---

<!doctype html>
{% include "head.njk" %}

<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <main>
        <ul>
            <li><a href="./cosma-manuel-d'utilisation.html">Manuel d'utilisation</a></li>
            <li><a href="./cosma-manuel-de-developpement.html">Manuel de développement</a></li>
        </ul>
    </main>

    {% include "footer.njk" %}
</body>

</html>