<html lang="{{ flag }}">
<head>
	<meta charset=utf-8>
	<title>{{ title }}</title>

	<meta name="description" content="{{ description }}">
	<meta name="author" content="Arthur Perret, Guillaume Brioudes">

	<style>
        {% include "styles.css" %}
    </style>
</head>