<header>
	<h1>{{ title }}</h1>

	<nav>
		<ul>
            {% if flag === 'fr' %}
			<li>Français</li>
			<li><a href="https://graphlab-fr.github.io/cosma-docs/en.html">English</a></li>
			<li><a href="https://cosma.graphlab.fr">cosma.graphlab.fr ↦</a></li>
            {% endif %}

            {% if flag === 'en' %}
			<li>English</li>
			<li><a href="https://graphlab-fr.github.io/cosma-docs/fr.html">Français</a></li>
			<li><a href="https://cosma.graphlab.fr">cosma.graphlab.fr ↦</a></li>
            {% endif %}
		</ul>
	</nav>
</header>